<!DOCTYPE html>
<html lang="en">
<head>
	<title>Futaam - Putting the dick back in anime managers</title>
	<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet" />
	<style>
		body {
			padding-top: 55px;
			width: 1200px;
			margin-left:auto;
			margin-right:auto;
		}
		div.hero-unit img {
			page-break-after: avoid;
			page-break-before: avoid;
		}
	</style>
	<script src="/assets/info.js" type="text/javascript"></script>
</head>
<body>

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">Futaam</a>
		</div>
	</div>
</div>
<h2><%= dbname %>: <%= dbdes %></h2>
<div class="row-fluid">
	<div class="span3">
		<div class="well" style="padding: 8px 0px;">
			<ul class="nav nav-list">
				<li class="nav-header">Animu</li>
				<% list.forEach(function(item) { %>
					<% if(typeof selected !== 'undefined' && item === selected) { %>
						<li class="active"><a href="/view/<%=item.name %>"><%= item.name %></a></li>
					<% } else { %>
						<li><a href="/view/<%=item.name %>"><%= item.name %></a></li>					
					<% } %>
				<% }) %>
			</ul>
		</div>
	</div>
	<div class="span9">
		<div class="hero-unit">
			<% if(typeof selected !== 'undefined') { %>
				<img id="img"></img><h2><%= selected.name %></h2>
				<p id="observations">Observations: <%= selected.obs %></p>
				<span class="badge">Last watched episode: <%= selected.lastwatched %></span>
				<% if(selected.status === 'c') { %>
					<span class="label label-info">Currently watching</span>
				<% } else if(selected.status === 'w') { %>
					<span class="label label-success">Watched</span>
				<% } else if(selected.status === 'h') { %> 
					<span class="label label-warning">On hold</span>
				<% } else if(selected.status === 'q') { %>
					<span class="label">To watch</span>
				<% } else if(selected.status === 'd') { %>
					<span class="label label-important">Dropped</span>
				<% } %>
				<p id="description"></p>
			<% } else { %>
				<h1>Pick an anime</h1>
			<% } %>
		</div>
	</div>
</div>

</body>
</html>